<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mazer Admin Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/auth.css">
</head>

<body>
    <div id="auth">

        <div class="row h-100">
            <div class="col-lg-7 d-none d-lg-block">
                <div id="auth-right">

                </div>
            </div>
            <div class="col-lg-5 col-12">
                <div id="auth-left">
                    <h1 class="auth-title">Log in.</h1>
                    <p class="auth-subtitle mb-2">Log in with your data that you entered during registration.</p>
                    <div class="row">
                        <div class="col-12 mt-1">
                            <a href="<%=urls.google%>" class="btn btn-block btn-lg shadow-rg  google mt-2 ddxd2">
                                <img src="//logo.clearbit.com/google.com?size=256" width="20">
                                <span>Continue with Google </span>
                            </a>
                        </div>
                        <div class="col-12 mt-1">
                            <a href="<%=urls.coinbase%>" class="btn btn-block btn-lg shadow-rg  coinbase mt-2 ddxd">
                                <img src="//logo.clearbit.com/coinbase.com?size=256" width="20">
                                <span>Continue with CoinBase</span>
                            </a>
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</body>

</html>